/* * {
    text-align: right;
} */
body {
    color: white;
    background-color: #A19C9C;
    text-align: center;
    border: 3px solid black;
    height: 600px;
    width: 500px;
    margin: 0 auto;



}


.div1 {
    color: white;


}

.div2 {
    color: white;


}