body {
    color: white;
    background-color: #7DA8C6;
    border: 3px solid white;
    height: 600px;
    width: 500px;
    margin: 100px auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;



}

input[type='text'] {
    padding: 5px;
    margin-left: 30px;
    width: 310px;

}

input[type='email'] {
    padding: 5px;
    margin-left: 70px;
    width: 310px;


}

input[type='date'] {
    font-size: 1.5em;

}

.button-area {
    text-align: center;
    margin: 10px;

}

.div1 {
    color: white;
    text-align: left;
    margin-left: 20px;

}

.div2 {
    color: white;
    text-align: left;
    margin-left: 20px;
}

.div3 {
    color: white;
    text-align: left;
    margin-left: 20px;

}

span {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}